
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|Roboto+Condensed:400,300,700,700italic|Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Cairo:300,400,600,700|Changa:300,400,500,600,700&subset=arabic,latin-ext);
@import url("../../public/assets/css/rtl/animate.min.css");
@import url("../../public/assets/fonts/bootstrapicons/1.9.1/css/bootstrap-icons.css");
@import url("../../public/assets/fonts/fontawesome5/5.15.4/css/all.min.css");
@import url("../../public/assets/fonts/flagicon/3.5.0/css/flag-icon.min.css");
/* @import url("../../public/assets/plugins/bootstrap-daterangepicker/daterangepicker.css"); */
@import url("../../public/assets/plugins/jquery-nice-select/css/nice-select.css");
@import url("../../public/assets/plugins/jquery.fs.scroller/jquery.fs.scroller.css");
@import url("../../public/assets/plugins/jquery.fs.selecter/jquery.fs.selecter.css");
